// Base styles
// @author kaiinui

body{
  padding: 0 0;
}

a{
  color: $color-link;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
  &:hover{
    color: $color-link-hover;
  }
}