.star{ // [FIXME] label?
  color: white;
  font-weight: 400;
  font-size: .8rem;
  margin-left: .8rem;
  background: #aaa;
  border-radius: 3px;
  padding: 3px 5px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.pagination{
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  display: table;
  li{
    display: table-cell;
    a{
      display: block;
      padding: 2.8rem 1.2rem;
      font-size: 2.2rem;
      &.active{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.breadcrumb{
  background: $color-500;
  padding: 10px 20px;
  margin: 40px 0;
  font-size: 1.5rem;
  a{
    color: white;
  }
  span{
    color: #ccc;
    margin-left: .4rem;
    margin-right: .4rem;
  }
}

footer{
  height: 200px;
  position: relative;
  overflow: hidden;
  @media #{$media-mobile} {
    height: 150px;
  }
  .point{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    @media #{$media-mobile} {
      width: 150px;
      height: 150px;
    }
  }
  .footer--inner{
    font-size: .95rem;
    font-family: "Helvetica Neue";
    position: absolute;
    bottom: 0.8rem;
    left: 200px;
    @media #{$media-mobile} {
      left: 150px;
    }
  }
}