// Styles for gems#index
// @author kaiinui

.libraries{
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  li{
    font-size: $font-size-500;
    padding: 20px 20px;
    .summary{
      color: $color-weak;
      margin-left: .6rem;
      font-size: $font-size-300;
    }
    a.comments{
      font-size: $font-size-200;
      margin-left: .6rem;
      text-decoration: none;
    }
    &.odd{
      background: $color-shadow;
    }
  }
}
