// Styles for gems#show
// @author kaiinui

.links{
  @media #{$media-mobile} {
    list-style: none;
    padding-left: 0;
  }
  li{
    font-size: $font-size-600;
    line-height: 2.4rem;
    .date{
      margin-left: .6rem;
      font-size: $font-size-300;
      color: #666;
    }
  }
}

.markdown-body{
  margin: $margin-horizontal__desktop;
  @media #{$media-mobile} {
    margin-left: $margin-horizontal__mobile;
    margin-right: $margin-horizontal__mobile;
  }
}
