$color-shadow: #f6f6f6;

$color-100: #b2dfdb;
$color-200: #80cbc4;
$color-300: #4db6ac;
$color-400: #26a69a;
$color-500: #009688;
$color-600: #00897b;
$color-700: #00796b;
$color-800: #00695c;
$color-900: #004d40;

$color-link: #0277bb;
$color-link-hover: #01476f;

$color-weak: #666;

$media-mobile: "screen and (max-width: 640px)";

$font-size-100: .9rem;
$font-size-200: 1rem;
$font-size-300: 1.1rem;
$font-size-500: 1.4rem;
$font-size-600: 1.5rem;

$margin-horizontal__desktop: 30px;
$margin-horizontal__mobile: 20px;
$margin-vertical__desktop: 20px;