// COMMON

body{
  padding: 0 20px;
}

a{
  color: blue;
}

// index

h1{
  font-family: Helvetica;
  font-size: 3.2rem;
  font-weight: 400;
}

ul{
  list-style: none;
  padding-left: 0;
  li{
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    span{
      color: #666;
    }
    i{
      margin-left: .4rem;
    }
    .summary{
      margin-left: .4rem;
      font-size: 1.1rem;
    }
    .star-count{
      font-size: 1.29rem;
    }
    a.comments{
      font-size: 1rem;
      margin-left: .6rem;
      text-decoration: none;
    }
  }
}