// COMMON

body{
  padding: 0 0;
}

a{
  color: blue;
}

// index

h1{
  margin: 2.3rem 20px;
  font-family: Helvetica;
  font-size: 3.2rem;
  font-weight: 400;
}


.libraries{
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  li{
    font-size: 1.4rem;
    padding: 20px 20px;
    span{
      color: #666;
    }
    i{
      margin-left: .8rem;
    }
    .summary{
      margin-left: .6rem;
      font-size: 1.1rem;
    }
    .star-count{
      margin-left: .6rem;
      font-size: .9rem;
      font-weight: 700;
    }
    a.comments{
      font-size: 1rem;
      margin-left: .6rem;
      text-decoration: none;
    }
    &.odd{
      background: #f6f6f6;
    }
  }
}

.pagination{
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  display: table;
  li{
    display: table-cell;
    a{
      display: block;
      padding: 2rem 1.6rem;
      font-size: 2.5rem;
      &.active{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

footer{
  height: 200px;
  background:url(/images/droidkun2001.png) no-repeat bottom left;
  position: relative;
  .footer--inner{
    font-size: .95rem;
    font-family: "Helvetica Neue";
    position: absolute;
    bottom: 0.8rem;
    left: 200px;
  }
}