h3.logo.mt-header
  a(href="/") Droid Gems
h1.title--gem.mt-header
  a(href="") Butter Knife
.box--links.mt-card.rounded
  h4.mt-card-heading.backgrounded References
  .mt-card-body
    ul.links
      li
        a(href="http://hotchemi.hateblo.jp/entry/2013/12/15/202857")
          | バナーナイフの用法とその効能
        span.star +13
        span.date 2013-12-15
      li
        a(href="")
          | Butter Knifeの紹介
        span.star +7
        span.date 2014/02/15
      li
        a(href="")
          | 5 Reasons You Should Use Butterknife For Android
        span.star +4
        span.date 2013/10/17
article.markdown-body
  = partial 'readme'
.pure-g
  .pure-u-1.pure-u-md-1-3
    .mt-card.rounded.richmedia
      img.mt-card-richmedia(src="/images/activeandroid.png")
      .mt-card-body
        h3.mt-card-heading ActiveAndroid
        p Active record style SQLite persistence for Android
  .pure-u-1.pure-u-md-1-3
    .mt-card.rounded.richmedia
      .mt-card-body
        h3.mt-card-heading Android-Rate
        p Android-Rate is a library to help you promote your android app ..
      img.mt-card-richmedia(src="/images/android-rate.png")
  .pure-u-1.pure-u-md-1-3
    .mt-card.rounded.richmedia
      .mt-card-body
        h3.mt-card-heading Dagger
        p A fast dependency injector for Android and Java.
      img.mt-card-richmedia(src="/images/dagger.png")
nav.breadcrumb
  a(href="/") Home
  span >
  a(href="") Butter Knife
