h3.logo
  a(href="/") Droid Gems
h1.title--gem
  a(href="") ButterKnife
.box--links
  ul.links
    li
      a(href="http://hotchemi.hateblo.jp/entry/2013/12/15/202857")
        | バナーナイフの用法とその効能
      span.star +13
      span.date 2013-12-15
    li
      a(href="")
        | Butter Knifeの紹介
      span.star +7
      span.date 2014/02/15
    li
      a(href="")
        | 5 Reasons You Should Use Butterknife For Android
      span.star +4
      span.date 2013/10/17
article.markdown-body
  = partial 'readme'